@import "./variables";

nav{
  margin: 20px 0 60px 0;
  border: none;
  box-shadow: 0 5px 4px 0.5px $headerColor;
  padding: 10px;

  a{
    width: 100px;
    margin: 0 30px;
    text-decoration: none;
    color: $headerColor;
    &:hover{
      text-shadow: 0 0 3px #2C3E50, 0 0px black, 0 2px #2C3E50;
      transition: 0.5s;
    }
  }

}