@import "./mixins";
@import "./variables";

button {
  padding: 5px;
}
#username-input {
  @include alignElements(column);
  align-items: center;
  label {
    font-size: 0.7em;
    margin-bottom: 3px;
  }
  input {
    margin-top: 3px;
    align-self: center;
    padding: 5px;
  }
  button {
    @include buttonStyles($primaryBtnColor, 10px, 10%, $hoverBtnColor);
    margin-top: 20px;
    &:disabled {
      @include disabledButtonStyles();
    }
    &:active {
      @include activeButtonStyles();
    }
  }
}
