@import "./variables";
@import "./mixins";

#score-card{
  @include scoreBoardStyles(0.6em);
  border: 0.5px solid $headerColor;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  #playername{
    color: $headerColor
  }
}


#scoreboard-titles {
  @include scoreBoardStyles(0.8em);
}

#spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $headerColor;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}